@media (min-width: 640px) {
  .sec-1 {
    background-image: url(/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #sec-2 {
    background-image: url(assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  /*  button span:nth-child(2) {
      left: -6px;
      position: relative;
      transition: left 0.3s ease-in-out;
    }
  
    button:hover span:nth-child(2) {
      left: 0%;
    }
  */
  .box {
    top: 100px;
    left: 100px;
    position: relative;
    border: 5px solid black;
    width: 30%;
    height: auto;
    padding: 5px;
  }
}
