.menu {
  position: relative;
}

button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  pointer-events: none;
}

button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 4px;
}

input {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  opacity: 0;
  z-index: 3;
}

input:checked + .menu button span {
  position: absolute;
  transition: 0, 3s ease-in-out;
}

input:checked + .menu button span:nth-child(2) {
  opacity: 0;
}

input:checked + .menu button span:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu button span:nth-child(3) {
  transform: rotate(-45deg);
}

.drop-down-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100vw;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 2;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

ul {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0 -6mm 4mm rgb(25, 3, 32));
}

button span:nth-child(2) {
  left: -6px;
  position: relative;
  transition: left 0.3s ease-in-out;
}

button:hover span:nth-child(2) {
  left: 0%;
}
