button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
  pointer-events: none;
}

button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 4px;
}

input {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  opacity: 0;
  z-index: 3;
}

input:checked + .menu button span {
  position: absolute;
  transition: 0, 3s ease-in-out;
}

input:checked + .menu button span:nth-child(2) {
  opacity: 0;
}

input:checked + .menu button span:nth-child(1) {
  transform: rotate(45deg);
}

input:checked + .menu button span:nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  font-size: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 2;
  font-weight: bold;
}

input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

/*  button span:nth-child(2) {
      left: -6px;
      position: relative;
      transition: left 0.3s ease-in-out;
    }
  
    button:hover span:nth-child(2) {
      left: 0%;
    }
  */
