@media (max-width: 640px) {
  .box {
    top: 75px;
    left: 50px;
    position: relative;
    border: 3px solid black;
    width: 30%;
    height: auto;
    background-color: rgba(236, 232, 227, 0.568);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .sec-1 {
    background-image: url("/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }

  #sec-2 {
    background-image: url("assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
  }

  .title-1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
  }

  .our-story {
    font-size: 12px;
    height: 30px;
    position: absolute;
  }

  .title-2 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
