/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.top-page {
  background-color: blanchedalmond;
  width: 100vw;
}

.bottom-page-left,
.bottom-page-right {
  background-color: aqua;
}

.full-page {
  min-height: 100vh;
}

.header {
  width: 100vw;
  position: fixed;
  height: auto;
}

.box {
  position: relative;
  top: 75px;
  left: 75px;
  width: 30%;
  height: fit-content;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.to-the-moon {
  text-align: center;
  font-size: 3vw;
}

.our-story {
  font-size: 1.5vw;
}

.scroll-down {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.space-ventures {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
}

.space {
  color: whitesmoke;
  display: block;
  position: relative;
  z-index: 1;
}
.ventures {
  position: relative;
  top: -50px;
  left: 25px;
  color: grey;
  z-index: 0;
  font-family: "Times New Roman", Times, serif;
}

.ground-control {
  padding: 10px;
  border: 1px solid purple;
}

blockquote::before,
blockquote::after {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  content: "";
}

.hidden-quote {
  display: none;
}

.sitting {
  padding: 50px;
  border: 1px solid blue;
  float: right;
}

.major-tom {
  display: none;
}

.footer {
  border: 1px solid black;
  width: 100vw;
}

@media screen and (min-width: 920px) {
  .full-page {
    display: flex;
  }

  .bottom-page-left,
  .bottom-page-right {
    width: 50%;
  }

  .hidden-quote {
    padding: 10px;
    position: relative;
    left: 0;
    color: rgba(232, 155, 196, 0.372);
    display: block;
    border: 1px solid black;
  }

  .major-tom {
    padding: 10px;
    display: block;
    width: 100px;
    height: auto;
    float: right;
    transform: rotate(3deg);
    position: relative;
    z-index: 1;
  }
}
