body {
  font-family: "Rubik";
}

header {
  width: 100%;
  height: 50px;
  background: transparent;
  position: fixed;
}

main {
  min-width: 100vw;
  min-height: 100vh;
}

section {
  min-height: 100vh;
  width: 100%;
}
/*
.box {
  top: 75px;
  left: 50px;
  position: relative;
  border: 3px solid black;
  width: 30%;
  height: 200px;
  background-color: rgba(236, 232, 227, 0.568);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.title-1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 170px;
  position: absolute;
}

.our-story {
  font-size: 12px;
  height: 30px;
  position: absolute;
}

.title-2 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.sec-1 {
  background-image: url("/assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

#sec-2 {
  background-image: url("assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}
*/
.right-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.right-arrow2 {
  border: solid red;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.scroll-down {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  bottom: 3%;
  position: absolute;
  right: 50%;
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
  transition: 0, 3s;
}

.space {
  color: red;
}

.ventures {
  font-family: "Times New Roman", Times, serif;
  color: darkgrey;
  z-index: 1;
  text-align: center;
}

.ground-control {
  text-align: center;
  width: 80%;
}

.quote {
  text-align: center;
  width: 80%;
}

.ground-control2 {
  text-align: center;
  width: 90%;
}

.poem {
  width: 90%;
}

a {
  color: red;
}
