.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-page {
  min-height: 100vh;
  outline: orange;
}

.to-the-moon {
  border: 1px solid red;
}

.space-ventures {
  font-size: 3rem;
  border: 1px solid green;
}

.space {
  display: block;
  position: relative;
  z-index: 1;
}
.ventures {
  position: relative;
  top: -50px;
  left: 25px;
  color: gray;
  z-index: 0;
}

.ground-control {
  border: 1px solid purple;
}

blockquote::before,
blockquote::after {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  content: "";
}

.hidden-quote {
  display: none;
}

.sitting {
  border: 1px solid blue;
  float: right;
}

.major-tom {
  display: none;
}

@media screen and (min-width: 920px) {
  .full-page {
    display: flex;
    gap: 100px;
  }

  .wrapper,
  .wrapper-2 {
    width: 50%;
  }

  .hidden-quote {
    font-size: 2rem;
    color: rgba(201, 124, 165, 0.372);
    display: block;
    font-weight: bold;
    text-align: center;
  }

  .major-tom {
    display: block;
    width: 100px;
    height: auto;
    float: right;
    transform: rotate(3deg);
  }
}
